html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* After reset */
* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f6f6f6;
    display: block;
    margin: 0;
    padding: 0;
    
}

.sub {
    display: flex;
}

.background {
    background: url("images/anders-jilden-AkUR27wtaxs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    display: flex;
    height: 100%;
    
    
}

.backgroundSecondary {
    background: url("images/anders-jilden-AkUR27wtaxs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 25%;
    display: flex;
    height: 100%;
   
}

.mobile {
    display: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    padding: 0 2%;
    color: white;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
}
/* Navigation Section */
.desktop {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    width: 100%;
}

#desktop {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    width: 25%;
    
}

.nav {
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}

.navSecondary {
    display: none;
}


.headshot {
    border-radius: 50%;
    width: 6rem;
    margin-bottom: 5%;
}

a {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    line-height: 2rem;
}

a:hover {
    color: white;
}

.primaryLinks {
    margin: 10%;
}

.inTouch {
    margin: 0 10%;
    line-height: 2rem;
    font-size: .75rem;
}

.getInTouch {
    color: rgba(255, 255, 255, .5);
}

i {
    font-size: 1.5rem;
    margin-right: 2%;
}

.toggle-button {
    position: relative;
    top: 1.1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color:rgba(255, 255, 255, .5);
    border-radius: 10px;
}

.toggle-button .bar:hover {
    background-color:white;
}

.navigationExtension {
    display: none;
}


/* Main Text */
.mainSection {
    margin: 10% 0 0 5%;
    line-height: 4rem;
}

.mainText {
    text-shadow: 1px 1px 3px black;
    width: 75%;
}

span {
    font-weight: bold;
}

.additionalLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    border: .1rem solid;
    padding: .5% 1%;
    font-size: 1.5rem;
    margin: 1%;
}

/* Content Section */

.contentSection {
    background-color: white;
    line-height: 2rem;
    color: black;
    width: 50%;
    margin: 0 0 0 25%;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    overflow: auto;
}

.shade {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
}

.contentSection h1 {
    color: black;
}

.about {
    margin: 5%;
}

.about h1 {
    line-height: 3rem;
}
.contentSection p {
    margin: 2%;
    
}

/* Contact */

.contact {
    display: block;
}

#secondaryIcon {
    color: black;
    font-weight: 400;
}

.secondaryIconDiv {
    display: flex;
    flex-direction: column;
}


.contactLinks {
    margin: 2%;
}
/* Portfolio */
.portfolioh2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding: 1rem;
    color: black;
}

.club3landing {
    width: 25rem;
}

/* Media Queries */

@media (max-width: 1010px) {
    /* body {

    }  */

    .background {
        display: flex;
        flex-direction: column;
    }
    

    .toggle-button {
        display: flex;
    }

    .desktop {
        display: none;
    }

    #desktop {
        display: none;
    }

    .mobile {
        display: flex;
        background-color: rgba(0, 0, 0, .5);
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 3rem;
        z-index: 5;
        
    }

    .navigationExtension {
        display: none;
        background-color: rgba(0, 0, 0, .5);
        position: relative;
        width: 100%;
        height: auto;
        z-index: 5;
        justify-content: flex-end;
        border-top: solid rgba(255, 255, 255, 0.5) 1px;
    }

    .navigationExtension.active {
        display: flex;
    }

    .navExt {
        margin-right: 1rem;
        text-align: right;
    }


    .primaryLinks {
        display: none;
    }

    .backgroundSecondary {
        width: 100%;
        background-image: none;
        background-color: #483D8B;
        position: relative;
    }

    .nav {
        display: flex;
        flex-direction: column;
        background-color: #483D8B;
        position: relative;
        width: 100%;
        margin: 5%;
        height: 3rem;
        align-items: center;
        text-align: center;
        margin-top: 10%;
    }

    .navSecondary {
        display: flex;
        flex-direction: column;
        background-color: #483D8B;
        position: relative;
        margin: auto;
        align-items: center;
        text-align: center;
        margin: 2rem;
    }

    .mobileSecondary {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contentSection {
        position: relative;
        width: 100%;
        margin: 0;
    }

    .link {
        display: none;
    }

    .inTouch {
        justify-content: flex-start;
        align-content: center;
        padding: 0.75rem 0 0 1rem;
        margin: 0;
        width: 95%;
    }

    i {
        margin: 0.2rem;
        font-size: 1rem;
    }
    /* Main Section Responsive */
    .mainSection {
        position: relative;
        padding: 2rem 1rem;
        margin: 0;
        width: 90%;
    }

    .mainText h1 {
        line-height: 3rem;
        margin: 0;
        padding: 0;
        font-size: 3rem;
    }

    .mainText h2 {
        margin: 0;
        padding: 10px 0;
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .button {
        font-size: 1.5rem;
        line-height: 1rem;
        padding: 1rem;
        margin: 0.5rem 0;
        border-color: white;
        color: white;
    }
    /* About */
    .sub {
        display: flex;
        flex-direction: column;
    }

    .innerContent {
        width: 90%;
    }


  }