html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* After reset */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f6f6f6;
    display: block;
    margin: 0;
    padding: 0;
    
}

.background {
    background: url("images/anders-jilden-AkUR27wtaxs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    display: flex;
    height: 100%;
    
    
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    padding: 0 2%;
    color: white;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding: 2%;
    color: white;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 2%;
    color: white;
}
/* Navigation Section */
header {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    width: 25%;
}

.nav {
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.headshot {
    border-radius: 50%;
    width: 30%;
    margin-bottom: 5%;
}

a {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    line-height: 2rem;
}

a:hover {
    color: white;
}

.primaryLinks {
    margin: 10%;
}

.inTouch {
    margin: 0 10%;
    line-height: 2rem;
    font-size: .75rem;
}

.getInTouch {
    color: rgba(255, 255, 255, .5);
}

i {
    font-size: 1.5rem;
    margin-right: 2%;
}

.toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


/* Main Text */
.mainSection {
    margin: 10% 0 0 5%;
    line-height: 4rem;
}

.mainText {
    text-shadow: 1px 1px 3px black;
}

span {
    font-weight: bold;
}

.additionalLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    border: .1rem solid;
    padding: .5% 1%;
    font-size: 1.5rem;
    margin: 1%;
}

/* About Section */
.nonHome {
    background: url("images/anders-jilden-AkUR27wtaxs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: fixed;
    width: 25%;
    height: 100%;
    padding: 0;
    
}
.aboutSection {
    background-color: white;
    line-height: 2rem;
    color: black;
    margin: 0 25%;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
}

.shade {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
}

.aboutSection h1 {
    color: black;
}

.about {
    margin: 5%;
    box-sizing: border-box;
}
.aboutSection p {
    margin: 2%;
}

/* Contact */

.contact {
    display: block;
}

#secondaryIcon {
    color: black;
    font-weight: 400;
}

.secondaryIconDiv {
    display: flex;
    flex-direction: column;
}

/* Media Queries */
@media only screen and (max-width: 1000px) {

    
    header {
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 5rem;
        position: absolute;
    }

    .toggle-button {
        display: flex;
    }
    

    .mobileHide {
        display: none;
    }

    .inTouch {
        justify-content: flex-start;
        align-content: center;
        position: absolute;
        padding: 1.5rem 0 0 1rem;
        margin: 0;
        width: 90%;
    }

    i {
        margin: 0.5rem;
    }

    .mainSection {
        position: relative;
        padding: 10rem 5rem;
        margin: 0;
    }

    .mainText h1 {
        line-height: 3rem;
        margin: 0;
        padding: 0;
    }

    .mainText h2 {
        margin: 0;
        padding: 10px 0;
    }

    .button {
        font-size: 1rem;
        line-height: 1rem;
        padding: .5rem;
        margin: .5rem 0;
        border-color: white;
        color: white;
    }
  }
